body {
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'Mechsuit';
  src: url('../font/Mechsuit.otf') format('opentype');
}


/* Estilos para centralizar texto e botão no popup */
.popup-text {
  text-align: center;
}

.popup-btn-container {
  display: block;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

/* presente tanto no main da pagina de login quanto na pagina home */
.ui-content {
  box-sizing: border-box;
}

/* Estilo para centralizar a div com role="main" */
.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  /* 100% da altura da viewport */
}

/* Estilo para o header ocupar o espaço restante */
[data-role="header"] {
  flex: 0 0 auto;
  /* Não crescer, não encolher, altura automática */
}

.title {
  font-family: 'Mechsuit', sans-serif;
  text-align: center;
}

/* Estilos para o ícone de olho e o contêiner de senha */
.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  /* Largura desejada para o ícone de olho */
  height: auto;
  /* Altura ajustada automaticamente */
}

/* Estilos para os cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

.card-link {
  /* container pai do card */
  box-sizing: border-box;
  width: 45%;
  text-decoration: none;
  /* Remove sublinhado do link */
}

.card {
  /* container filho do card */
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  transition: border 0.3s ease;
  /* Adiciona uma transição suave para a borda */
  box-sizing: border-box;
}

.card:hover {
  border: 8px solid #ccc;
  /* Cor da borda quando hover */
}

.card-image {
  width: 40px;
  margin-top: 10px;
  height: auto;
  box-sizing: border-box;
}

.card-text {
  font-size: 14px;
  /* Adapte o valor conforme necessário */
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  box-sizing: border-box;
}


/* PAGINA DE CADASTRO */

.custom-form {
  margin: 0 20px; /* Adicione a margem desejada nas laterais */
}
